#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 300px;
    height: 440px;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 100% 79%, 100% 100%, 88% 89%, 0 89%);
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5rem 0;

    @media (max-width: 992px) {
        justify-content: center;
        align-items: center;    
        margin: 1rem 0;
        width: 300px;
        height: 440px;    
    }
}

.coordinates {
    font-size: 1rem;
    position: relative;
    left: -3rem;

    p {
        margin-bottom: 0;
    }

    @media (max-width: 992px) {
        top: 13rem;
        left: 0;
    }
}
