.main-section {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.row {
    justify-content: space-between;
}

.errors-container {
    margin-top: -1rem;
    text-align: center;
    height: 1.5rem;
}
